
<div class="container">
  <ul>
    <div class="cards mt-4">
      <% @cocktails.each do |cocktail|  %>
        <% cocktail.photo.attached? ? card_style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#{cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill}')" : card_style = "background-color: #401618" %>

      <li>
        <div class="card-category" style=" <%= card_style %> ">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </li>
      <% end %>
    </div>
  </ul>
</div>
