<div class="container-form">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add to shaker", class: "btn-flat" %>
  <% end %>
</div>
