// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  list-style-type: none;
}

.card-category a {
  text-decoration: none;
  color:  white;
  transition: color 0.7s;
  &:hover {
    text-decoration: none;
    color: #ec524b;
  }
}

body {
  background-color: #6A4E31;
}

